$yellow: #fffa19;
$red: #FF0000;
$green: #008000;

@mixin setting($top, $bottom, $padding_0,$padding_1,$padding_2,$padding_3, $color){
  margin-top: $top;
  margin-bottom: $bottom;
  padding:$padding_0 $padding_1 $padding_2 $padding_3;
  background-color: $color
}

.jumbotron{
  color: black;
  @include setting(50px,0px,4rem,0,4rem,0px,$yellow);
}
footer{
  @include setting(10px,0px,10px,10px,10px,0px,$yellow);
}

.card-hotel{
  flex: 1 200px;
  @include setting(10px,0px,2px,0px,2px,0px,$red);

}
.btn-reserva{
  width: 100%;
  border-radius: 0px;

}
.footer-address-icon{
  padding-right: 10px;
}
.tab-content{
  padding-top: 10px;
}

