.jumbotron {
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 4rem 0 4rem 0px;
  background-color: #fffa19; }

footer {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 10px 10px 10px 0px;
  background-color: #fffa19; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 2px 0px 2px 0px;
  background-color: #FF0000; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
